/* Posts */
#content .post-content a.user:before,
/* Subscribers */
#content .users span.user:before,
/* Subscriptions */
#content .users .info a.user:before {
    content: "@";
}
/* Fix for recommendations */
#content .post-content .rec .user:before {
    margin-right: -3px;
}
