#pp-right-panel {
    width: 32px;
    position: fixed;
    top: 50%;
    right: 3px;
    opacity: .3;
    transition: opacity 500ms;
}

#pp-right-panel:hover {
    opacity: 1;
    transition: opacity 500ms;
}

#pp-right-panel #pp-go-to-unread {
    background-image: url("/img/menu-my.png");
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#pp-right-panel span#pp-unread-count {
    position: relative;
    top: 7px;
    left: 11px;
    -webkit-user-select: none;
    user-select: none;
}