/* Point.Im */
/* MarkItUp margin fix */
div#markItUpText-input {
    margin-top: 30px;
}

/* MarkItUp override */
.markItUp  {
    width: 770px;
}

/* Point+ */

/* Post and comments highlights */
.pp-highlight {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFBB;
}

.post .info, .post .post-content {
    z-index: 2;
    position: relative;
}

/* Auto-loaded Booru pictures */
.booru_pic, .instagram-post-embedded {
    display: block !important;
    float: none !important;
}

.booru_pic img, .instagram-post-embedded img {
    border: none;
    max-width: 60%;
    max-height: 300px;
}

/* Unique ID and Recomendation */
.pp-post-counters
{
    float: left;
    color: #999;
    font-size: 12px;
    margin-left: 1em;
}

.pp-unique-comments
{
    margin-right: .5em;
}

/* @todo i18n */
.pp-unique-comments::before
{
    content: 'Комментаторов: ';
}

.pp-recommendation-count::before
{
    content: 'Рекомендаций: ';
}

/* NSFW-content */
.post-tag-nsfw.blur-nsfw-images a.postimg img,
.post-tag-сиськи.blur-nsfw-images a.postimg img,
#comments.blur-nsfw-images a.postimg img {
    margin-top: 5px;
    -webkit-filter: blur(30px);
}

.post-tag-nsfw.blur-nsfw-images a.postimg:hover img,
.post-tag-сиськи.blur-nsfw-images a.postimg:hover img,
#comments.blur-nsfw-images a.postimg:hover img {
    -webkit-filter: none;
}

.post-tag-nsfw.hide-nsfw-posts,
.post-tag-сиськи.hide-nsfw-posts {
    display: none;
}

.post-tag-nsfw.blur-nsfw-entire .post-content .text,
.post-tag-сиськи.blur-nsfw-entire .post-content .text,
#comments.blur-nsfw-entire .post-content .text {
    -webkit-filter: blur(30px);
}

.post-tag-nsfw.hide-nsfw-posts,
.post-tag-сиськи.hide-nsfw-posts {
    display: none;
}

/* Черновики */
#new-post-form #text-input {
    height: 30em !important;
}

#new-post-form #draft-save-status {
    display: none;
    padding: 3px 5px;
    color: green;
}

/* point-plus-debug */
#point-plus-debug {
    float: right;
    display: block;
    color: rgba(255, 255, 255, .75);
    padding: 10px 0px;
}

/* User hints */
.current-user-hint {
    min-height: 30px;
    position: relative;
}

.current-user-hint .edit {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    background-image: url('//point.im/img/btn-edit.png');
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.current-user-hint:hover .edit {
    display: block;
}

.current-user-hint > .text {
    margin: 1em 0;
    color: green;
    font-style: italic;
}

.aside .aside-content #counters {
    clear: both;
}

.current-user-hint .change_hint_block {

}

.current-user-hint .change_hint_block textarea {
    width: 98%;
    max-width: 98%;
    margin-bottom: 10px;
    height: 140px;
}

.current-user-hint .change_hint_block .button_save {
    margin-right: 10px;
}

.current-user-hint .change_hint_block .button_cancel {

}

/** Индикация вложенности */

#comments.nesting_level {
    overflow: hidden;
}

#comments.nesting_level .info::before {
    position: absolute;
    top: 0;
    right: 100%;

    display: block;

    width: 500px;
    height: 24px;

    content: '';

    opacity: 0;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/nesting-point.svg');
    background-repeat: repeat-x;
    background-position: right center;
}

#comments.nesting_level .post:hover .info::before {
    transition: opacity .2s ease-in;

    opacity: 1;
}

.pp-progress.reply-form {
    margin-top: 8px;
    padding-top: 4px;
}

.pp-progress.reply-form::before {
    content: '';
    display: block;
    height: 4px;
    background: linear-gradient(to right, #fff, #9aacbe, #fff);
    -webkit-animation: loading 1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
    from {
        background-position: -640px 0;
    }

    to {
        background-position: 0 0;
    }
}

/* "All" link in left menu */
#pp-left-menu-all {
    /* Opened Lock icon from default point.im icon set */
    background-image: url('/img/icon-private-inactive.png') !important;
}

/* Highlight post with new comments */
.pp-post-unread {
    background-color: #EEFFEE;
}

/* Video from direct links */
.pp-video-player {
    display: block;
    max-width: 95%;
}

/* Audio from direct links */
.pp-audio-player {
    display: block;

}

/* Coub embedded video */
.pp-video-player-coub {
    max-width: 640px;
    border: none;
}

/* New posts and comments auto refresh in left menu by @NokitaKaze */
.pp-left-menu-refreshed {
    background-color: #f2ebee;
    color: #7c3558;
}

#pp-iframe-unread-refresh {
    width: 600px;
    height: 300px;
    display: none;
}