/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/h6.png); 
}

.markItUp .markItUpButton7 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/bold.png);
}
.markItUp .markItUpButton8 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/italic.png);
}

.markItUp .markItUpButton9 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/list-bullet.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/list-numeric.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/picture.png); 
}
.markItUp .markItUpButton12 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/link.png);
}

.markItUp .markItUpButton13 a	{
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/quotes.png);
}
.markItUp .markItUpButton14 a	{
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/code.png);
}

.markItUp .preview a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/sets/markdown/preview.png);
}
