.markItUpContainer  {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/bg-container.png);
}
.markItUpEditor {
    background: none;
    /* Padding fix */
    padding-left: 10px;
}
.markItUpResizeHandle {
    background-image:url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/handle.png);
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul .markItUpDropMenu {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/menu.png);
}
.markItUpHeader ul ul .markItUpDropMenu {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/submenu.png);
}
/***************************************************************************************/
.html .markItUpEditor {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/bg-editor-html.png);
}
.markdown .markItUpEditor {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/bg-editor-markdown.png);
}
.textile .markItUpEditor {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/bg-editor-textile.png);
}
.bbcode .markItUpEditor {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/markitup/skins/markitup/bg-editor-wiki.png);
}
